{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            <li>
                <a href="{% url 'admin:add_character' %}?role=1">Add Student</a>
            </li>
            <li>
                <a href="{% url 'admin:add_character' %}?role=2">Add Tutor</a>
            </li>
            <li>
                <a href="{% url 'admin:add_character' %}?role=3">Add Analyst</a>
            </li>
        </ul>
    </div>
{% endblock %}
